.skills {
  min-height: 60rem;
  display: flex;
  align-items: center;
}

.skills__container {
  margin: $l-size 0;
  background: white;
  box-shadow: 2px 2px 6px black;
  padding: $m-size;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skills__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  img {
    width: 75px;
    height: 75px;
    object-fit: contain;
  }
  > p {
    font-weight: 900;
  }
}
