@font-face {
  font-family: "streamster";
  src: url("/fonts/streamster.woff") format("woff"), url("/fonts/streamster.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  src: url("/fonts/montserrat.woff") format("woff"), url("/fonts/montserrat.woff2") format("woff2");
  font-display: swap;
}
* {
  margin: auto;
  padding: 0;
  cursor: default;
  user-select: none;
}
