@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-regular.woff2") format("woff2"), url("../fonts/lato-regular.woff") format("woff");
}

@font-face {
  font-family: "overpass-mono";
  src: url("../fonts/overpass-mono-regular.woff2") format("woff2"),
    url("../fonts/overpass-mono-regular.woff") format("woff");
}

@import "normalize.css";
@import "./variables";
@import "./header";
@import "./logo";
@import "./home";
@import "./about";
@import "./skills";
@import "./projects";
@import "./contact";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: $dark-grey;
  line-height: 1.6;
  font-family: 'Lato', Helvetica, 'Open Sans', sans-serif;
  font-size: $m-size;
  background-color: $white;
}

.main {
  margin-top: 6rem;
}

.section::before {
  display: block;
  content: " ";
  margin-top: -6rem;
  height: 6rem;
  visibility: hidden;
  pointer-events: none;
}

.content {
  max-width: 128rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 $m-size;
}
