
@import "normalize.css";
@import "./fonts";
@import "./variables";
@import "./header";
@import "./logo";
@import "./home";
@import "./about";
@import "./skills";
@import "./projects";
@import "./contact";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: $dark-grey;
  line-height: 1.6;
  font-family: $lato;
  font-size: $m-size;
  background-color: $white;
}

.main {
  margin-top: 6rem;
}

.section::before {
  display: block;
  content: " ";
  margin-top: -6rem;
  height: 6rem;
  visibility: hidden;
  pointer-events: none;
}

.content {
  max-width: 128rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 $m-size;
}
