---
import Layout from "@layouts/Layout.astro";
import Logo from "@components/Logo.astro";
import Floor from "@components/Floor.astro";
import Sky from "@components/Sky.astro";
import MountainRange from "@components/MountainRange.astro";
import ContactButtons from "@components/ContactButtons.astro";
import ContactForm from "@components/ContactForm.astro";
---

<Layout>
  <main>
    <Logo />
    <Floor />
    <Sky />
    <MountainRange />
    <ContactButtons />
  </main>
  <ContactForm />
</Layout>
