<div
  id="title"
  class="absolute z-50 w-1/2 h-12 max-h-80 text-white text-center drop-shadow-synth inset-0 origin-center -rotate-3">
  <h1 class="text-8xl font-streamster animate-neon tracking-wide">Ele Morelli</h1>
  <h2 class="text-2xl font-metro mt-4 animate-neon-reverse tracking-wide">Fullstack Developer</h2>
</div>
