---
import Mountain from "@components/Mountain.astro";

const mountains = [
  { width: "24vw", height: "6vw", bottom: "45%", left: "-5%" },
  { width: "24vw", height: "8vw", bottom: "45%", left: "5%" },
  { width: "30vw", height: "10vw", bottom: "45%", left: "15%" },
  { width: "30vw", height: "14vw", bottom: "45%", left: "30%" },
  { width: "30vw", height: "18vw", right: "30%", bottom: "45%" },
  { width: "30vw", height: "10vw", right: "15%", bottom: "45%" },
  { width: "24vw", height: "8vw", right: "5%", bottom: "45%" },
  { width: "24vw", height: "6vw", right: "-5%", bottom: "45%" },
];
---

<div id="mountain">
  <div id="horizon" class="absolute top-[55%] z-40 w-full h-1 bg-white blur-xs"></div>
  {mountains.map((mountain) => <Mountain {...mountain} />)}
</div>
