---
const { width, height, top = "auto", right = "auto", bottom = "auto", left = "auto" } = Astro.props;
---

<div class="absolute z-10 bg-gradient-to-b from-black to-zinc-800"></div>

<style define:vars={{ width, height, top, right, bottom, left }}>
  div {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: var(--width);
    height: var(--height);
    max-height: var(--height);
    inset: var(--top) var(--right) var(--bottom) var(--left);
  }
</style>
