<form action="#">
  <div class="grid gap-4 mb-4 sm:grid-cols-2">
    <div class="w-full">
      <label for="name" class="block mb-2 text-sm font-medium text-slate-200">Name</label>
      <input
        type="text"
        name="name"
        id="name"
        class="bg-slate-50 border border-slate-300 text-slate-800 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
        placeholder="Type your name"
        required
      />
    </div>
    <div class="w-full">
      <label for="email" class="block mb-2 text-sm font-medium text-slate-200">Brand</label>
      <input
        type="email"
        name="email"
        id="email"
        class="bg-slate-50 border border-slate-300 text-slate-800 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
        placeholder="Type your contact email"
        required
      />
    </div>

    <div class="w-full sm:col-span-2">
      <label for="message" class="block mb-2 text-sm font-medium text-slate-200">Message</label>
      <textarea
        id="message"
        rows="4"
        class="block p-2.5 w-full text-sm text-slate-800 bg-slate-50 rounded-lg border border-slate-300 focus:ring-primary-500 focus:border-primary-500"
        placeholder="Write your message here"
        required></textarea>
    </div>
  </div>

  <button
    type="submit"
    class="text-white block m-auto w-[12rem] justify-center bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg px-5 py-2.5 text-center"
    type="button">
    Submit
  </button>
</form>
