---
import { SEO } from "astro-seo";
import "@styles/global.css";

export interface Props {
  title?: string;
}

const resolvedImageWithDomain = new URL("/opengraph.jpg", Astro.url).toString();
const { title } = Astro.props;
---

<!doctype html>
<html lang="es-AR">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={title}
      titleTemplate="%s | Ele Morelli - Fullstack Developer"
      titleDefault="Ele Morelli - Fullstack Developer"
      description="The personal webpage of Eleazar Morelli, a Fullstack Developer based in Argentina"
      openGraph={{
        basic: {
          type: "website",
          title: "Ele Morelli - Fullstack Developer",
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "A screenshot of Ele Morelli's web",
        },
      }}
    />
  </head>

  <body class="w-full h-full bg-slate-900 overflow-hidden">
    <slot />
  </body>
</html>
